n8n-workflow-consultations.json
{
  "name": "Arogyam Clinic - Consultations & Email Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "second",
              "secondsInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM consultations ORDER BY created_at DESC",
        "options": {}
      },
      "id": "supabase-fetch-consultations",
      "name": "Fetch All Consultations",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "supabase": {
          "id": "supabase-credentials",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-pending-consultations",
      "name": "Filter Pending Consultations",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "confirmed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-confirmed-consultations",
      "name": "Filter Confirmed Consultations",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        500
      ]
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "toEmail": "={{ $json.patient_email }}",
        "subject": "Welcome to Arogyam Clinic - Appointment Confirmed",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Welcome to Arogyam Clinic</title>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n        .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n        .header { background: #2563eb; color: white; padding: 20px; text-align: center; border-radius: 8px 8px 0 0; }\n        .content { background: #f8fafc; padding: 20px; border-radius: 0 0 8px 8px; }\n        .appointment-details { background: white; padding: 15px; margin: 15px 0; border-radius: 5px; border-left: 4px solid #2563eb; }\n        .footer { text-align: center; margin-top: 20px; color: #666; font-size: 14px; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>🏥 Arogyam Clinic</h1>\n            <p>Your Health, Our Priority</p>\n        </div>\n        \n        <div class=\"content\">\n            <h2>Welcome to Arogyam Clinic!</h2>\n            <p>Dear {{ $json.patient_name }},</p>\n            \n            <p>Thank you for choosing Arogyam Clinic for your healthcare needs. Your appointment has been successfully scheduled.</p>\n            \n            <div class=\"appointment-details\">\n                <h3>📅 Appointment Details:</h3>\n                <p><strong>Date:</strong> {{ $json.appointment_date }}</p>\n                <p><strong>Time:</strong> {{ $json.preferred_time }}</p>\n                <p><strong>Patient ID:</strong> {{ $json.patient_id }}</p>\n                <p><strong>Status:</strong> {{ $json.status }}</p>\n            </div>\n            \n            <p><strong>Important Notes:</strong></p>\n            <ul>\n                <li>Please arrive 15 minutes before your scheduled appointment time</li>\n                <li>Bring any previous medical records or test reports</li>\n                <li>If you need to reschedule, please contact us at least 24 hours in advance</li>\n            </ul>\n            \n            <p>We look forward to providing you with excellent healthcare services.</p>\n            \n            <p>Best regards,<br>\n            <strong>Arogyam Clinic Team</strong></p>\n        </div>\n        \n        <div class=\"footer\">\n            <p>This is an automated message. Please do not reply to this email.</p>\n            <p>For any queries, please contact our clinic directly.</p>\n        </div>\n    </div>\n</body>\n</html>",
        "additionalFields": {}
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "credentials": {
        "gmail": {
          "id": "gmail-credentials",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "toEmail": "={{ $json.patient_email }}",
        "subject": "Arogyam Clinic - Patient Portal Access Credentials",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Patient Portal Access - Arogyam Clinic</title>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n        .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n        .header { background: #059669; color: white; padding: 20px; text-align: center; border-radius: 8px 8px 0 0; }\n        .content { background: #f8fafc; padding: 20px; border-radius: 0 0 8px 8px; }\n        .credentials-box { background: white; padding: 20px; margin: 20px 0; border-radius: 5px; border: 2px solid #059669; text-align: center; }\n        .credential-item { margin: 10px 0; padding: 10px; background: #f0fdf4; border-radius: 3px; }\n        .footer { text-align: center; margin-top: 20px; color: #666; font-size: 14px; }\n        .warning { background: #fef3c7; padding: 10px; border-radius: 5px; margin: 15px 0; border-left: 4px solid #f59e0b; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>🔐 Arogyam Clinic</h1>\n            <p>Patient Portal Access</p>\n        </div>\n        \n        <div class=\"content\">\n            <h2>Your Patient Portal Access Credentials</h2>\n            <p>Dear {{ $json.patient_name }},</p>\n            \n            <p>Your doctor has generated access credentials for the Arogyam Clinic Patient Portal. You can now log in to view your medical records, appointments, and consultation history.</p>\n            \n            <div class=\"credentials-box\">\n                <h3>🔑 Login Credentials:</h3>\n                <div class=\"credential-item\">\n                    <strong>Patient ID:</strong> {{ $json.patient_id }}\n                </div>\n                <div class=\"credential-item\">\n                    <strong>Password:</strong> {{ $json.password }}\n                </div>\n            </div>\n            \n            <p><strong>How to Access:</strong></p>\n            <ol>\n                <li>Visit our clinic website</li>\n                <li>Click on \"Patient Portal\"</li>\n                <li>Enter your Patient ID and Password</li>\n                <li>Access your medical information</li>\n            </ol>\n            \n            <div class=\"warning\">\n                <strong>⚠️ Security Notice:</strong><br>\n                Please keep your credentials safe and do not share them with anyone. If you suspect unauthorized access, contact our clinic immediately.\n            </div>\n            \n            <p>If you have any questions or need assistance, please don't hesitate to contact our clinic.</p>\n            \n            <p>Best regards,<br>\n            <strong>Arogyam Clinic Team</strong></p>\n        </div>\n        \n        <div class=\"footer\">\n            <p>This is an automated message. Please do not reply to this email.</p>\n            <p>For any queries, please contact our clinic directly.</p>\n        </div>\n    </div>\n</body>\n</html>",
        "additionalFields": {}
      },
      "id": "send-credentials-email",
      "name": "Send Credentials Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        900,
        500
      ],
      "credentials": {
        "gmail": {
          "id": "gmail-credentials",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log the number of consultations fetched\nconst totalConsultations = $input.all().length;\nconsole.log(`Total consultations fetched: ${totalConsultations}`);\n\n// Log consultation details for debugging\n$input.all().forEach((consultation, index) => {\n  console.log(`Consultation ${index + 1}:`, {\n    id: consultation.id,\n    patient_name: consultation.patient_name,\n    status: consultation.status,\n    created_at: consultation.created_at\n  });\n});\n\nreturn $input.all();"
      },
      "id": "debug-log",
      "name": "Debug Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        100
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Debug Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Log": {
      "main": [
        [
          {
            "node": "Fetch All Consultations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Consultations": {
      "main": [
        [
          {
            "node": "Filter Pending Consultations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Confirmed Consultations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Pending Consultations": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Confirmed Consultations": {
      "main": [
        [
          {
            "node": "Send Credentials Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-22T10:00:00.000Z",
      "updatedAt": "2024-01-22T10:00:00.000Z",
      "id": "tag-1",
      "name": "Arogyam Clinic"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-22T10:00:00.000Z",
  "versionId": "1"
}
