n8n-workflow-consultations-fixed.json
{
  "name": "Arogyam Clinic - Consultations & Email Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "second",
              "secondsInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM consultations ORDER BY created_at DESC",
        "options": {}
      },
      "id": "supabase-fetch-consultations",
      "name": "Fetch All Consultations",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "supabase": {
          "id": "supabase-credentials",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-pending-consultations",
      "name": "Filter Pending Consultations",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "confirmed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-confirmed-consultations",
      "name": "Filter Confirmed Consultations",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        500
      ]
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "toEmail": "={{ $json.patient_email }}",
        "subject": "Welcome to Arogyam Clinic - Appointment Confirmed",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>Welcome to Arogyam Clinic</title><style>body{font-family:Arial,sans-serif;line-height:1.6;color:#333}.container{max-width:600px;margin:0 auto;padding:20px}.header{background:#2563eb;color:white;padding:20px;text-align:center;border-radius:8px 8px 0 0}.content{background:#f8fafc;padding:20px;border-radius:0 0 8px 8px}.appointment-details{background:white;padding:15px;margin:15px 0;border-radius:5px;border-left:4px solid #2563eb}.footer{text-align:center;margin-top:20px;color:#666;font-size:14px}</style></head><body><div class=\"container\"><div class=\"header\"><h1>🏥 Arogyam Clinic</h1><p>Your Health, Our Priority</p></div><div class=\"content\"><h2>Welcome to Arogyam Clinic!</h2><p>Dear {{ $json.patient_name }},</p><p>Thank you for choosing Arogyam Clinic for your healthcare needs. Your appointment has been successfully scheduled.</p><div class=\"appointment-details\"><h3>📅 Appointment Details:</h3><p><strong>Date:</strong> {{ $json.appointment_date }}</p><p><strong>Time:</strong> {{ $json.preferred_time }}</p><p><strong>Patient ID:</strong> {{ $json.patient_id }}</p><p><strong>Status:</strong> {{ $json.status }}</p></div><p><strong>Important Notes:</strong></p><ul><li>Please arrive 15 minutes before your scheduled appointment time</li><li>Bring any previous medical records or test reports</li><li>If you need to reschedule, please contact us at least 24 hours in advance</li></ul><p>We look forward to providing you with excellent healthcare services.</p><p>Best regards,<br><strong>Arogyam Clinic Team</strong></p></div><div class=\"footer\"><p>This is an automated message. Please do not reply to this email.</p><p>For any queries, please contact our clinic directly.</p></div></div></body></html>",
        "additionalFields": {}
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "credentials": {
        "gmail": {
          "id": "gmail-credentials",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "toEmail": "={{ $json.patient_email }}",
        "subject": "Arogyam Clinic - Patient Portal Access Credentials",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>Patient Portal Access - Arogyam Clinic</title><style>body{font-family:Arial,sans-serif;line-height:1.6;color:#333}.container{max-width:600px;margin:0 auto;padding:20px}.header{background:#059669;color:white;padding:20px;text-align:center;border-radius:8px 8px 0 0}.content{background:#f8fafc;padding:20px;border-radius:0 0 8px 8px}.credentials-box{background:white;padding:20px;margin:20px 0;border-radius:5px;border:2px solid #059669;text-align:center}.credential-item{margin:10px 0;padding:10px;background:#f0fdf4;border-radius:3px}.footer{text-align:center;margin-top:20px;color:#666;font-size:14px}.warning{background:#fef3c7;padding:10px;border-radius:5px;margin:15px 0;border-left:4px solid #f59e0b}</style></head><body><div class=\"container\"><div class=\"header\"><h1>🔐 Arogyam Clinic</h1><p>Patient Portal Access</p></div><div class=\"content\"><h2>Your Patient Portal Access Credentials</h2><p>Dear {{ $json.patient_name }},</p><p>Your doctor has generated access credentials for the Arogyam Clinic Patient Portal. You can now log in to view your medical records, appointments, and consultation history.</p><div class=\"credentials-box\"><h3>🔑 Login Credentials:</h3><div class=\"credential-item\"><strong>Patient ID:</strong> {{ $json.patient_id }}</div><div class=\"credential-item\"><strong>Password:</strong> {{ $json.password }}</div></div><p><strong>How to Access:</strong></p><ol><li>Visit our clinic website</li><li>Click on \"Patient Portal\"</li><li>Enter your Patient ID and Password</li><li>Access your medical information</li></ol><div class=\"warning\"><strong>⚠️ Security Notice:</strong><br>Please keep your credentials safe and do not share them with anyone. If you suspect unauthorized access, contact our clinic immediately.</div><p>If you have any questions or need assistance, please don't hesitate to contact our clinic.</p><p>Best regards,<br><strong>Arogyam Clinic Team</strong></p></div><div class=\"footer\"><p>This is an automated message. Please do not reply to this email.</p><p>For any queries, please contact our clinic directly.</p></div></div></body></html>",
        "additionalFields": {}
      },
      "id": "send-credentials-email",
      "name": "Send Credentials Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        900,
        500
      ],
      "credentials": {
        "gmail": {
          "id": "gmail-credentials",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const totalConsultations = $input.all().length;\nconsole.log(`Total consultations fetched: ${totalConsultations}`);\n$input.all().forEach((consultation, index) => {\n  console.log(`Consultation ${index + 1}:`, {\n    id: consultation.id,\n    patient_name: consultation.patient_name,\n    status: consultation.status,\n    created_at: consultation.created_at\n  });\n});\nreturn $input.all();"
      },
      "id": "debug-log",
      "name": "Debug Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        100
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Debug Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Log": {
      "main": [
        [
          {
            "node": "Fetch All Consultations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Consultations": {
      "main": [
        [
          {
            "node": "Filter Pending Consultations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Confirmed Consultations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Pending Consultations": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Confirmed Consultations": {
      "main": [
        [
          {
            "node": "Send Credentials Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-22T10:00:00.000Z",
  "versionId": "1"
}
