n8n-workflows/login-credentials-workflow.json
{
  "name": "Arogyam Login Credentials Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-credentials",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-credentials",
      "name": "Webhook - Login Credentials",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "login-credentials-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "patient-id",
              "leftValue": "={{ $json.patient_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "password",
              "leftValue": "={{ $json.password }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-credentials-data",
      "name": "Check Credentials Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "arogyamCliniccare@gmail.com",
        "toEmail": "={{ $json.patient_email }}",
        "subject": "Your Arogyam Clinic Patient Portal is Ready! 🔐",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Patient Portal Access - Arogyam Clinic</title>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n        .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n        .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n        .content { background: #f9f9f9; padding: 30px; border-radius: 0 0 10px 10px; }\n        .credentials-box { background: white; padding: 20px; margin: 20px 0; border-radius: 8px; border: 2px solid #667eea; }\n        .credential-item { background: #f0f8ff; padding: 15px; margin: 10px 0; border-radius: 5px; border-left: 4px solid #667eea; }\n        .portal-link { background: #e8f5e8; padding: 20px; margin: 20px 0; border-radius: 8px; border: 2px solid #4caf50; text-align: center; }\n        .footer { text-align: center; margin-top: 30px; color: #666; font-size: 14px; }\n        .button { display: inline-block; background: #667eea; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px; margin: 10px 0; }\n        .warning { background: #fff3cd; border: 1px solid #ffeaa7; padding: 15px; border-radius: 5px; margin: 15px 0; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>🏥 Arogyam Clinic</h1>\n            <p>Patient Portal Access</p>\n        </div>\n        \n        <div class=\"content\">\n            <h2>Hello {{ $json.patient_name }}! 👋</h2>\n            \n            <p>Great news! Your patient portal account has been created and is ready to use. You can now access your medical records, appointment history, and more.</p>\n            \n            <div class=\"credentials-box\">\n                <h3>🔐 Your Login Credentials</h3>\n                <p><strong>Please save these credentials safely:</strong></p>\n                \n                <div class=\"credential-item\">\n                    <strong>Patient ID:</strong> <code style=\"background: #f8f9fa; padding: 5px 10px; border-radius: 3px; font-family: monospace;\">{{ $json.patient_id }}</code>\n                </div>\n                \n                <div class=\"credential-item\">\n                    <strong>Password:</strong> <code style=\"background: #f8f9fa; padding: 5px 10px; border-radius: 3px; font-family: monospace;\">{{ $json.password }}</code>\n                </div>\n            </div>\n            \n            <div class=\"portal-link\">\n                <h3>🌐 Access Your Patient Portal</h3>\n                <p><strong>Portal URL:</strong></p>\n                <a href=\"{{ $json.portal_url }}\" class=\"button\">Login to Patient Portal</a>\n                <p style=\"margin-top: 10px; font-size: 14px;\">{{ $json.portal_url }}</p>\n            </div>\n            \n            <div class=\"warning\">\n                <h4>⚠️ Important Security Notes:</h4>\n                <ul>\n                    <li>Keep your credentials private and secure</li>\n                    <li>Don't share your password with anyone</li>\n                    <li>Log out after each session</li>\n                    <li>Contact us immediately if you suspect unauthorized access</li>\n                </ul>\n            </div>\n            \n            <h3>📱 What You Can Do:</h3>\n            <ul>\n                <li>View your appointment history</li>\n                <li>Access medical records and prescriptions</li>\n                <li>Check upcoming appointments</li>\n                <li>Update your contact information</li>\n                <li>Download medical documents</li>\n            </ul>\n            \n            <h3>📞 Need Help?</h3>\n            <p>If you have trouble logging in or need assistance, please contact us:</p>\n            <p><strong>Email:</strong> arogyamCliniccare@gmail.com</p>\n            <p><strong>Phone:</strong> +91 [Your Phone Number]</p>\n        </div>\n        \n        <div class=\"footer\">\n            <p>Thank you for choosing Arogyam Clinic!</p>\n            <p><strong>Your Health, Our Priority</strong></p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-credentials-email",
      "name": "Send Credentials Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Login credentials email sent successfully to {{ $json.patient_email }}\",\n  \"patient_name\": \"{{ $json.patient_name }}\",\n  \"patient_id\": \"{{ $json.patient_id }}\"\n}",
        "options": {}
      },
      "id": "success-response-credentials",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"Missing required credentials data\",\n  \"received_data\": \"{{ $json }}\"\n}",
        "options": {}
      },
      "id": "error-response-credentials",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Webhook - Login Credentials": {
      "main": [
        [
          {
            "node": "Check Credentials Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Credentials Data": {
      "main": [
        [
          {
            "node": "Send Credentials Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Credentials Email": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "login-credentials-workflow",
  "tags": []
}
