n8n-workflows/welcome-email-workflow.json
{
  "name": "Arogyam Welcome Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-welcome",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-welcome",
      "name": "Webhook - Welcome Email",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "welcome-email-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "patient-name",
              "leftValue": "={{ $json.patient_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-data",
      "name": "Check Required Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "arogyamCliniccare@gmail.com",
        "toEmail": "={{ $json.patient_email }}",
        "subject": "Welcome to Arogyam Clinic - Appointment Confirmed! 🏥",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Welcome to Arogyam Clinic</title>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n        .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n        .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n        .content { background: #f9f9f9; padding: 30px; border-radius: 0 0 10px 10px; }\n        .appointment-details { background: white; padding: 20px; margin: 20px 0; border-radius: 8px; border-left: 4px solid #667eea; }\n        .footer { text-align: center; margin-top: 30px; color: #666; font-size: 14px; }\n        .button { display: inline-block; background: #667eea; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px; margin: 10px 0; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>🏥 Arogyam Clinic</h1>\n            <p>Your Health, Our Priority</p>\n        </div>\n        \n        <div class=\"content\">\n            <h2>Welcome, {{ $json.patient_name }}! 👋</h2>\n            \n            <p>Thank you for choosing Arogyam Clinic for your healthcare needs. We're excited to have you as our patient!</p>\n            \n            <div class=\"appointment-details\">\n                <h3>📅 Appointment Details</h3>\n                <p><strong>Date:</strong> {{ $json.appointment_date }}</p>\n                <p><strong>Time:</strong> {{ $json.appointment_time }}</p>\n                <p><strong>Type:</strong> {{ $json.consultation_type }}</p>\n                <p><strong>Treatment:</strong> {{ $json.treatment_type }}</p>\n            </div>\n            \n            <h3>📍 What to Expect</h3>\n            <ul>\n                <li>Please arrive 10 minutes before your appointment</li>\n                <li>Bring any previous medical reports if available</li>\n                <li>Wear comfortable clothing</li>\n            </ul>\n            \n            <h3>📞 Need to Reschedule?</h3>\n            <p>If you need to change your appointment, please contact us at least 24 hours in advance.</p>\n            \n            <p><strong>Contact:</strong> +91 [Your Phone Number]</p>\n            <p><strong>Email:</strong> arogyamCliniccare@gmail.com</p>\n        </div>\n        \n        <div class=\"footer\">\n            <p>We look forward to serving you!</p>\n            <p><strong>Arogyam Clinic Team</strong></p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Welcome email sent successfully to {{ $json.patient_email }}\",\n  \"patient_name\": \"{{ $json.patient_name }}\",\n  \"appointment_date\": \"{{ $json.appointment_date }}\"\n}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"Missing required data\",\n  \"received_data\": \"{{ $json }}\"\n}",
        "options": {}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Webhook - Welcome Email": {
      "main": [
        [
          {
            "node": "Check Required Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Required Data": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "welcome-email-workflow",
  "tags": []
}
